{% extends "auctions/layout.html" %}

{% block body %}
<style>
  .container{
    display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  align-content: center;
  justify-content: center;
  }
  </style>
<div class="container">
    <h2>{{cat}}</h2>

</div>
<div class="container" id="listings">
    {% for i in items %}
    <div class="card mb-4" style="max-width: 410px;" id="card-listings">
      <div class="row no-gutters">
        <div class="col-md-10">
          <a href="{% url 'listingpage' i.id %}"><img src="{{i.link}}" class="card-img" alt="..." style="width: 100%; height: auto; padding-left: 80px;"></a>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{i.title}}</h5>
            <a href="{% url 'category' i.category %}"><h7>{{i.category}}</h7></a>
            <br><a href="{% url 'listingpage' i.id %}"><button class="btn btn-outline-success">Watch Now</button></a>
            <p class="card-text"><small class="text-muted">{{i.time}}</small></p>
          </div>
        </div>
      </div>
    </div>
      {% endfor %}
</div>
{% endblock %}